<strong> Olá, {{ user }}. </strong>
<br>
<p> Sua nova senha temporária é : <strong> {{ token }} </strong></p>


<p> Faça login utilizando seu email e sua nova senha temporária. Ah, e não se esqueça, pode trocar por uma senha de sua
  preferência,
  basta seguir os passos abaixo: </p>

<ul>
  <li> Depois de ter feito login, clique em "Meu Perfil", ou no ícone de perfil se estiver no aplicativo</li>
  <li> Coloque no campo "Senha Atual" sua senha temporária</li>
  <li> Coloque nos campos "Nova Senha" e "Confirmar Senha" a senha de sua preferência</li>
  <li> Ai é só clicar em atualizar perfil e partir pro abraço ! </li>
</ul>



<br />
</p>